<style media="screen">
  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    height: 50px;
  }
</style>


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a><%= link_to "NexBenDev", root_path, :class => "nav-link active navbar-brand" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <p><%= link_to "Ruby", content_ruby_path, :class => "nav-link active" %></p>
      </li>
      <li class="nav-item">
        <p><%= link_to "Projects", content_projects_path, :class => "nav-link active" %></p>
      </li>
      <li class="nav-item ">
          <a><%= link_to "TicTacToe", content_game_path, :class => "nav-link active" %></a>
      </li>
      <li class="nav-item ">
          <a><%= link_to "Quiz", content_quiz_path, :class => "nav-link active" %></a>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="fas fa-sign-in-alt"></span> Login</a></li>
     </ul>

  </div>
</nav>
